{% form 'reset_customer_password', class: 'center-block' %}
{% if form.errors %}
{% capture form_feedback %}
    <div class="form-feedback error">
      <div class="form-feedback--content">
      {{ form.errors | default_errors }}
      </div>
    </div>
{% endcapture %}
{% endif %}
{% if form.posted_successfully? %}
{% capture form_feedback %}
  <div class="form-feedback" style="display:block;">
    <div class="form-feedback--content">
    {{ 'account.reset.reset_confirmation' | t }}
    </div>
  </div>
{% endcapture %}
{% endif %}
<div class="form-group password">
<label for="password">{{ 'account.reset_password.password' | t }}</label>
<input class="form-control" type="password" value="" name="customer[password]" size="16" />
</div>
<div class="form-group password">
<label for="password_confirmation">{{ 'account.reset_password.password_confirmation' | t }}</label>
<input class="form-control" type="password" value="" name="customer[password_confirmation]" size="16" />
</div>

<input type="submit" class="btn full solid" value="{{ 'account.reset_password.reset' | t }}" />

{% endform %}  