{% unless section.blocks.size < 1 %}
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      {% for block in section.blocks %}
      <div class="row philo-bloc">
      	{% if block.type == 'image_left' %}
        <div class="col-sm-6">
          {% unless block.settings.image == blank %}
          <img src="{{ block.settings.image | img_url:'800x450', scale:'x2', format:'pjpg' }}" alt="{{ block.settings.image.alt }}" class="img-responsive">
          {% endunless %}
        </div>
        {% endif %}
      	<div class="col-sm-6">
          {% unless block.settings.title == blank %}
          <h2>{{ block.settings.title }}</h2>
          {% endunless %}
          {% unless block.settings.subtitle == blank %}
          <h3>{{ block.settings.subtitle }}</h3>
          {% endunless %}
          {% unless block.settings.content == blank %}
          <div class="rte">{{ block.settings.content }}</div>
          {% endunless %}
          {% unless blocks.settings.cta_text == blank and block.settings.cta_link == blank %}
          <a href="{{ block.settings.cta_link }}" class="btn">{{ block.settings.cta_text }}</a>
          {% endunless %}
        </div>
      	{% if block.type == 'image_right' %}
        <div class="col-sm-6">
          {% unless block.settings.image == blank %}
          <img src="{{ block.settings.image | img_url:'800x450', scale:'x2', format:'pjpg' }}" alt="{{ block.settings.image.alt }}" class="img-responsive">
          {% endunless %}
        </div>
        {% endif %}        
      	
      </div>
      {% endfor %}
    </div>
  </div>
{% endunless %}

{% schema %}
  {
    "name": "Page Philosophie",
    "max_blocks": 8,
    "settings": [
      {
        "type": "paragraph",
        "content": "Ajoutez vos blocs de contenu ci-dessous"
      }
    ],
    "blocks": [
      {
        "type": "image_left",
        "name": "Image + texte",
        "settings": [
          {
          "type": "header",
          "content": "Photographie"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "Largeur conseillée de 2000px"
          },
          {
          "type": "header",
          "content": "Contenu"
          },		
          {
            "type": "text",
            "id": "title",
            "label": "Titre",
          "info": "Laisser vide pour ne pas afficher"
          },
          {
            "type": "text",
            "id": "subtitle",
            "label": "Sous Titre",
            "info": "Laisser vide pour ne pas afficher"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Contenu textuel"
          },
          {
            "type": "text",
            "id": "cta_text",
            "label": "Texte de l'appel à l'action",
            "default": "Démarrer",
            "info": "Laisser vide pour ne pas afficher"
          },
          {
            "type": "url",
            "id": "cta_link",
            "label": "Lien de l'appel à l'action"
          }
        ]
      },
      {
        "type": "image_right",
        "name": "Texte + Image",
        "settings": [
          {
          "type": "header",
          "content": "Photographie"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "Largeur conseillée de 2000px"
          },
          {
          "type": "header",
          "content": "Contenu Texte"
          },		
          {
            "type": "text",
            "id": "title",
            "label": "Titre",
          "info": "Laisser vide pour ne pas afficher"
          },
          {
            "type": "text",
            "id": "subtitle",
            "label": "Sous Titre",
          "info": "Laisser vide pour ne pas afficher"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Contenu textuel"
          },
          {
            "type": "text",
            "id": "cta_text",
            "label": "Texte de l'appel à l'action",
            "default": "Démarrer",
            "info": "Laisser vide pour ne pas afficher"
          },
          {
            "type": "url",
            "id": "cta_link",
            "label": "Lien du slide"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
